@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://cdn.pixabay.com/photo/2017/08/07/02/21/people-2598802_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .testimonials {
    background-image: linear-gradient(to right, rgba(114, 43, 43, 0.7), rgba(0, 0, 0, 0.7)), url('https://cdn.pixabay.com/photo/2017/01/03/01/08/jesus-christ-1948251_960_720.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    flex-grow: 1;
  }

  .signup{
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
    }